
venv/
venv*/ 
ENV/
env/


__pycache__/
*.py[cod]
*$py.class

*.sqlite3
/storeProject/sqlite3

*.env
.env


*/migrations/__pycache__/
*/migrations/*.pyc


.DS_Store
Thumbs.db


*.log

.idea/
.vscode/


htmlcov/
coverage.xml
*.cover
.cache
.tox/
.pytest_cache/


pip-log.txt


build/
dist/
*.egg-info/
